$color-black: #272727;
$color-gray: rgb(161, 161, 161);
$color-light-gray: #efefef;
$color-cian: #60dbfb;
$color-white: rgb(252, 252, 252);
$color-red: rgb(255, 66, 82);
$color-yellow:rgb(255, 218, 36);
$color-green:rgb(62, 229, 112);